<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BHStage — Menu</title>
  <link rel="stylesheet" href="/public/css/menu.css">
</head>
<body>


  <iframe class="fond-accueil" src="index.php" title="Page d'accueil en arrière-plan"></iframe>

  <div class="fond-menu"></div>

  <aside class="panneau-menu">
    <div class="panneau-menu__haut">
      <a class="panneau-menu__fermer" href="index.php">✕</a>
      <a class="panneau-menu__profil" href="#">👤</a>
    </div>

    <nav class="navigation-menu">
      <a class="navigation-menu__lien" href="index.php">Accueil</a>
      <a class="navigation-menu__lien" href="liste-offres.php">Offres</a>
      <a class="navigation-menu__lien" href="liste-entreprises.php">Entreprises</a>
      <a class="navigation-menu__lien2" href="wishlist.php">Wishlist</a>
      <a class="navigation-menu__lien" href="candenvoye.php">Candidatures</a>

    </nav>

    <div class="actions-menu">
      <a class="bouton bouton--principal" href="connexion.php">Se connecter</a>
      <a class="bouton bouton--doux" href="inscription.php">S’inscrire</a>
    </div>
  </aside>

</body>
</html>